.card-and-timer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #b699db;
    border-radius: 20px;
    border: 1px solid white;
    max-width: 100%;
    max-height: 100%;
}

.card-box > * {
    flex: 1 1 auto;
    margin: 0 10px;
}

.side-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    width: 85px;
    overflow: auto;
    color: white;
}

.timer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85px;
    height: 150px;
    background-color: #b699db;
    border-radius: 20px;
    border: 1px solid white;
    margin-left: 20px;
    color: white;
}

.MuiButton-root.Buzzer {
    width: 100%;
    margin-inline: 3px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    background-color: red;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Inter, sans-serif;

}

.MuiButton-root.Buzzer:hover {
    background-color: darkred;
}

.textField-chat-input fieldset{
    border-radius: 15px;
    flex: 1;
}


