.inviteRoot {
    gap: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-size: cover;
    background: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: auto;
    width: auto;
    height: auto;
    position: absolute;
    

    .qrCodeBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 480px;
        background-color: transparent;
        border-radius: 20px;
        border: 1px solid white;
        padding: 20px;
        width: 304px;
        backdrop-filter: blur(100px);
        background-color: rgb(0, 0, 0, 0.25);
        position: absolute;

        .qr-typography {
            color: rgb(255, 255, 255);
            font-family: Inter, sans-serif;
            font-weight: 600;
            font-size: 24px;
            text-align: center;
            margin-bottom: 10px;
        }

        .saveButton {
            background-color: transparent;
            color: #ff6c43;
            width: 90%;
            font-family: Inter, sans-serif;
            font-weight: 600;
            font-size: 18px;
            border: 0.5px solid white;
            backdrop-filter: blur(100px);

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.2);
                z-index: -1;
              }
        }
    }

    .topicsButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 170px;
        border-radius: 20px;
        border: 1px solid white;
        padding: 20px;
        position: absolute;


        h1 {
            color: white;
            text-transform: none;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        }
    }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }


    .textField {
        background-color: lightgray;
        width: 90%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        position: absolute;

        & .MuiOutlinedInput-root {
            & fieldset {
                border-color: white;
            }

            &:hover fieldset {
                border-color: white;
            }

            &.Mui-focused fieldset {
                border-color: white;
            }
        }
    }

    .input {
        color: white;
    }

    .backButton {
        background-color: transparent;
        color: #ff6c43;
        border: 0.5px solid white;
        width: 304px;
        font-size: 18px;
        font-weight: 600;
        align-items: center;
        font-family: Inter, sans-serif;
        backdrop-filter: blur(100px);
        background-color: rgba(0,0,0,0.2);
        margin-top: 50px;
    }

    .title {
        color: white;
        font-family: Inter, sans-serif;
        font-weight: 600;
        font-size: 40px;
        position: absolute;
    }
    
    .homepageVideo {
        width: auto;
        height: auto;
        object-fit: cover;
    
        @media (max-width: 768px) {
          width: 100%;
          height: 100vh;
        }
    
        @media (min-width: 769px) and (max-width: 1024px) {
          width: 100%;
          height: 100vh;
        }
    
        @media (min-width: 1025px) {
          width: 100%;
          height: 100vh;
        }
      }
}