.inviteRoot {
    gap: 114px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 27px 0 27px;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-size: cover;
    background-blend-mode: normal, normal;
    background: radial-gradient(ellipse closest-side at 50% 50%, #b219fe 5%, #48007e);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .qrCodeBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 304px;
        height: 480px;
        background-color: #D1C4E9;
        border-radius: 20px;
        border: 1px solid white;
        padding: 20px;

        .qr-typography {
            color: black;
            font-family: Inter, sans-serif;
            font-weight: 600;
            font-size: 24px;
            text-align: center;
            margin-bottom: 10px;
        }

        .saveButton {
            background-color: #7f5dab;
            color: #EA854C;
            width: 90%;
            font-family: Inter, sans-serif;
            font-weight: 600;
            font-size: 18px;
            border: 0.5px solid white;

            &:hover {
                background-color: #8a2be2;
            }
        }
    }

    .topicsButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 170px;
        max-width: 200px;
        max-height: 200px;
        border-radius: 20px;
        border: 1px solid white;
        padding: 20px;


        h1 {
            color: white;
            text-transform: none;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        }
    }


    .textField {
        background-color: lightgray;
        width: 90%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

        & .MuiOutlinedInput-root {
            & fieldset {
                border-color: white;
            }

            &:hover fieldset {
                border-color: white;
            }

            &.Mui-focused fieldset {
                border-color: white;
            }
        }
    }

    .input {
        color: white;
    }

    .backButton {
        background-color: #7f5dab;
        color: orange;
        border: 0.5px solid white;

        &:hover {
            background-color: #8a2be2
        }
    ;
        width: 304px;
        margin-top: -20px;
        font-size: 18px;
        font-weight: 600;
        font-family: Inter, sans-serif;
    }

    .title {
        color: white;
        font-family: Inter, sans-serif;
        font-weight: 600;
        font-size: 40px;
    }
}