.rulesRectangle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: #B699DC;
    min-height: auto;
    padding: 13px 16px;
    border-radius: 9px;
}

.rulesText {
    font-size: 24px;
    font-weight: 600;
    font-family: Inter, sans-serif;
}


  