.rulesRoot {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 39px 16px 0 16px;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-size: cover;
    background-blend-mode: normal, normal;
    background: radial-gradient(ellipse closest-side at 50% 50%, #b219fe 5%, #48007e);
    overflow: hidden;
    min-height: 100vh;
}

.rules {
    margin: 0 0 0 10px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    font-family: Inter, sans-serif;
    white-space: nowrap;
    box-sizing: border-box;
}

.rectangle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: stretch;
    align-items: flex-start;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #B699DC;
    min-height: calc(100vh - 40%);
    padding: 13px 16px;
    border-radius: 9px;
}

.rulesText {
    font-size: 24px;
    font-weight: 600;
    font-family: Inter, sans-serif;
    margin-top: 20px;
}

.MuiButton-root.button {
    width: 219px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 32.1px;
    border-width: 1px;
    border-radius: 9px;
    border-style: solid;
    border-color: #ffffff;
    box-sizing: border-box;
    background-color: #7f5dab;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #EA854C;
    font-size: 23px;
    font-weight: 600;
    font-family: Inter, sans-serif;
    margin-bottom: 50px;
}
  