.settingsRoot {
    gap: 114px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: auto;
    width: 100vw;
    height: auto;
    position: absolute;
  
    .homepageVideo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  
    .inputBox {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 360px;
      height: 150px;
      background-color: transparent;
      backdrop-filter: blur(300px);
      background: rgb(0, 0, 0, 0.25);
      border-radius: 20px;
      border: 1px solid white;
      padding: 20px;
    }
  
    .topicsButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 170px;
      max-width: 200px;
      max-height: 200px;
      border-radius: 20px;
      padding: 20px;
      position: relative;
      z-index: 1;
  
      h1 {
        color: white;
        text-transform: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      }
    }
  
    .left-topicsButton {
      @extend .topicsButton;
      margin: -30px 10px -30px 0;
    }
  
    .right-topicsButton {
      @extend .topicsButton;
      margin: -30px 0 -30px 10px;
    }
  
    .textField {
      background-color: lightgray;
      width: 90%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  
      & .MuiOutlinedInput-root {
        & fieldset {
          border-color: white;
        }
  
        &:hover fieldset {
          border-color: white;
        }
  
        &.Mui-focused fieldset {
          border-color: white;
        }
      }
    }
  
    .input {
      color: white;
    }
  

    .backButton {
        width: 360px;
        margin-inline: 3px;
        margin-top: -20px;
        margin-bottom: 50px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: transparent;
        border-color: white;
        border-style: solid;
        border-width: 0.5px;
        color: #ff6c43;
        font-size: 16px;
        font-weight: 600;
        font-family: Inter, sans-serif;
        backdrop-filter: blur(100px);

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            z-index: -1;
        }
    }
  
    .settings-title {
      color: white;
      font-size: 40px;
      font-weight: 600;
      font-family: Inter, sans-serif;
    }
  
    .settings-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .typography {
      color: white;
      font-size: 24px;
      font-weight: 600;
      font-family: Inter, sans-serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }
  
    .topic-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: -30px;
    }
  }
  